/* Calculator */

@theme "themes/catppuccin-mocha.rasi"

configuration {
	font:                   "CommitMono Nerd Font 12";
	calc-display-format:    "{name}";
}

/* Window */

window {
	location:               south east;
	x-offset:               -8px;
	y-offset:               -8px;
	width:                  375px;
	height:                 138px;
	border:                 4px;
	border-radius:          12px;
	border-color:           @br;
	background-color:       @bg-0;
	children:               [ mainbox ];
}

mainbox {
	spacing:                0;
	background-color:       @br;
	text-color:             @fg;
	children:               [ textbox-custom, message, inputbar ];
}

textbox-custom {
	font:                   "CommitMono Nerd Font Bold 12";
	horizontal-align:       0.5;
	padding:                2px 0;
	background-color:       @active-bg;
	text-color:             @active-fg;
	expand:                 false;
	content:                "󰃬 Calculator";
}

/* Output */

message {
	border:                 2px 0 0;
	border-radius:          10px;
	border-color:           @br;
	cycle:                  false;
	margin:                 0 0 -4px;
	padding:                8px 8px 56px;
	background-color:       @bg-0;
	text-color:             @fg;
}

textbox {
	font:                   "CommitMono Nerd Font 18";
	horizontal-align:       1;
	padding:                8px;
	background-color:       inherit;
	text-color:             @fg;
}

/* Input */

inputbar {
	margin:                 -40px 8px 8px;
	border-radius:          8px;
	spacing:                inherit;
	background-color:       @bg-1;
	text-color:             inherit;
	children:               [ entry ];
}

entry {
	horizontal-align:       1;
	padding:                8px 12px;
	cursor:                 text;
	background-color:       inherit;
	text-color:             inherit;
}
