/* Emoji picker */

@theme "themes/catppuccin-mocha.rasi"

configuration {
	font:                   "GoogleSansCode Nerd Font 11";
	display-emoji:          "";
}

/* Window */

window {
	width:                  375px;
	border:                 3px;
	border-color:           @br;
	background-color:       @bg-0;
	text-color:             @fg;
	spacing:                0;
	children:               [ textbox-custom, listview, inputbar ];
}

textbox-custom {
	content:                "EMOJIS";
	font:                   "GoogleSansCode Nerd Font Bold 10";
	expand:                 false;
	horizontal-align:       0.5;
	padding:                0 0 3px;
	background-color:       @active-bg;
	text-color:             @active-fg;
}

/* List */

listview {
	lines:                  5;
	columns:                5;
	fixed-columns:          true;
	dynamic:                false;
	cycle:                  true;
	padding:                8px;
	background-color:       inherit;
	text-color:             inherit;
}

element {
	padding:                8px;
	background-color:       inherit;
	text-color:             inherit;
	cursor:                 pointer;
}

element selected active,
element selected normal {
	background-color:       @active-bg;
	text-color:             @active-fg;
}

element-text {
	font:                   "GoogleSansCode Nerd Font 18";
	padding:                10px 0 8px 11px;
	background-color:       inherit;
	text-color:             inherit;
	cursor:                 inherit;
}

/* Input */

inputbar {
	margin:                 0 8px 8px;
	background-color:       @bg-1;
	text-color:             inherit;
	children:               [ prompt, entry ];
}

prompt {
	padding:                8px 12px;
	background-color:       inherit;
	text-color:             inherit;
}

entry {
	placeholder:            "Search";
	padding:                8px 12px 8px 0;
	background-color:       inherit;
	text-color:             inherit;
	cursor:                 text;
}
