/* Window switcher */

@theme "themes/catppuccin-mocha.rasi"

configuration {
	font:                   "CommitMono Nerd Font 12";
	window-format:          "<span weight='bold'>{c:10}</span> <span alpha='80%' weight='light'><i>{t}</i></span>";
}

/* Window */

window {
	width:                  375px;
	height:                 260px;
	border:                 3px;
	border-color:           @br;
	background-color:       @bg-0;
	text-color:             @fg;
	children:               [ textbox-custom, listview ];
}

textbox-custom {
	content:                "WINDOWS";
	font:                   "CommitMono Nerd Font Bold 12";
	expand:                 false;
	horizontal-align:       0.5;
	padding:                0 0 3px;
	background-color:       @active-bg;
	text-color:             @active-fg;
}

/* List */

listview {
	lines:                  6;
	dynamic:                false;
	cycle:                  true;
	padding:                8px;
	background-color:       inherit;
	text-color:             inherit;
}

element {
	padding:                8px;
	background-color:       inherit;
	text-color:             inherit;
	cursor:                 pointer;
}

element selected active,
element selected normal {
	background-color:       @active-bg;
	text-color:             @active-fg;
}

element-text {
	padding:                0 8px;
	cursor:                 inherit;
	background-color:       inherit;
	text-color:             inherit;
}
